/* footer section*/

.footer_section {
    background: rgba(0,0,0,.8);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(3.1px);
    padding: 1em 0 0.1em;
  }
  
  .footer_section ol {
    margin: 0;
    text-align: center;
    padding: .3em 0;
  }
  
  .footer_section ol li {
    display: inline-block;
    font-size: 2em;
    padding: 0 1em;
  }

  .footer_section ol li a {
    color: darkgrey;
  }
  
  .author_paragraph {
    color: #f2f2f2;
    text-align: center;
  }