.top_main_section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: baseline;
}

.new_meteo_section {
    background: transparent;
    border: 2px solid #454545;
    font-size: 1em;
    margin: 3.5em 2.5em;
    padding: .6em;
    transition-duration: .5s;
    border-radius: .7em;
}

.new_meteo_section:hover {
    background: #454545;
    color: #489084;
    border: 2px transparent solid;
    cursor: pointer;
}

.new_meteo_form {
    color: #454545;
    font-size: 1.4em;
    height: -moz-fit-content;
    height: fit-content;
    left: 50%;
    position: fixed;
    z-index: 15;
    top: 50%;
    transform: translate(-50%,-50%);
    width: -moz-fit-content;
    width: fit-content;
    background: #489084;
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2.5em 2em 1em;
    transition-duration: .3s;
}

.new_meteo_form svg {
    position: absolute;
    top: 0;
    right: 0;
    padding: .3em;
}
.new_meteo_form svg:hover {
    color: #C41E3A;
    cursor: pointer;
}

/*  get it darker  */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

.new_meteo_form input {
    background: transparent;
    border: 0;
    border-bottom: 2px #454545 solid;
    margin-bottom: 3em;
    width: 17em;
}

.new_meteo_form input:focus-visible {
    outline: none;
}

.new_meteo_form button {
    background: transparent;
    padding: .8em;
    border: 2px #454545 solid;
    margin-top: 2em;
    transition-duration: .5s;
}

.new_meteo_form button:hover {
    background: #454545;
    color: #489084;
    border: 2px transparent solid;
    cursor: pointer;
}