.navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    padding: .8em;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.navbar a {
    color: inherit;
    text-decoration: none;
}

.navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    text-decoration: none;
}

ul.navbar_grid button {
    color: bisque;
    display: inline-block;
    text-decoration: none;
    transition-duration: .5s;
    background: inherit;
    border: none;
    font: unset;
}

ul.navbar_grid button:hover{
    cursor: pointer;
}