.search_bar_section {
    text-align: center;
}

.search_bar_section svg {
    padding: 1em 2em 1em 1em;
    position: absolute;
    right: 0;
    top: 0;
}

.search_bar_section ul {
    list-style-type: none;
    /* position: absolute; */
    text-align: left;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    background: inherit;
    background: hsla(0,0%,100%,.3);
    margin: 0;
    width: -webkit-fill-available;
    position: absolute;
}
.search_bar_section ul li {
    padding-top: .5em;
}
.search_bar_section ul li button {
    border: none;
    background: inherit;
    color: inherit;
    font-size: inherit;
}
.search_bar_section ul li button:hover {
    cursor: pointer;
}

.search_bar_section ul li:last-child {
    padding-bottom: 1em;
}

.search_bar_section svg:hover {
    cursor: pointer;
}

.search_bar_section input {
    background: inherit;
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    text-underline-offset: none;
    padding: .7em 1.3em;
    font-size: 1.3em;
    text-decoration: none;
    border: none;
    color: inherit;
    margin: auto;
    width: 25em;
    border-top-right-radius: .7em;
    border-top-left-radius: .7em;
}

.search_bar_section div {
    display: inline-block;
    position: relative;
    margin-top: 5em;
}

.search_bar_section input:focus-visible {
    outline: none;
}

.search_bar_section input::placeholder {
    color: #d5d2cb;
}