.weather_tab_section {
    margin-top: 7em;
}

.weather_tab {
    display: grid;
    width: 20em;
    margin: auto;
    font-size: 1.3em;
    gap: 2em;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    padding: 2em 0em;
}


.item1 {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: right;
}

.item2 {
    grid-column: 1;
    grid-row: 2;
    align-self: right;
    justify-self: right;
    font-size: 3em;
}

.item3 {
    grid-column: 2;
    grid-row: 1/3;
    align-self: center;
    font-size: 4em;
}